/*app level style*/
.searchApp {
  text-align: center;
}

/*logo component*/

/* The animation code */

.logo img {
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: linear;
}

.logo img.animate {
  transform: rotateY(180deg);
}

/*search bar component*/

.searchInput {
  width: 80%;
  height: 40px;
  font-size: 20px;
}

.searchButton {
  height: 45px;
  margin-left: 5px;
  font-size: 20px;
}

/*search result component*/

.searchResults {
  height: 500px;
  overflow-y: scroll;
  text-align: left;
  margin: 50px;
}

.bookList {
  list-style: none;
}

.bookList li {
  margin: 5px;
  border-bottom: 1px dotted grey;
}

.bookIndex {
  display: inline-block;
  width: 10%
}
